* {
    box-sizing: border-box;
}

.nav1 {
    margin: 20px 8px 0 0;
    font-size: 13px;
}
.nav1:hover {
    color: #008000;
}


.nav-item:hover {
    background-color: #f2f7ea;
}

.nav-link {
    min-width: 120px;
    text-align: center;
}

.nav-item .active {
    background-color: #f2f7ea !important;
    color: #28a745 !important;
}

.bg1 {
    background: url("../img/种子选手_banner.jpg") no-repeat center;
    background-size: cover;
    height: 500px;
}

.bg2 {
    background: url("../img/丰收在望.jpg") no-repeat center;
    background-size: cover;
    height: 500px;
}

.bg3 {
    background: url("../img/种界新星_banner.jpg") no-repeat center;
    background-size: cover;
    height: 500px;
}

.bg4 {
    background: url("../img/归园田居_banner.jpg") no-repeat center;
    background-size: cover;
    height: 500px;
}

.bg5 {
    background: url("../img/品牌优选_banner.jpg") no-repeat center;
    background-size: cover;
    height: 500px;
}

.bg6 {
    background: url("../img/home_banner_about.jpg") no-repeat center;
    background-size: cover;
    height: 500px;
}


@media (max-width: 1215px) {

    .nav-link {
        min-width: 0;
        text-align: center;
    }
}

.Opacity {
    opacity: 90%;
}

.shopping_cart {
    background-color: #80B500;
    color:white;
    font-weight: bold;
}

.shopping_cart:hover {
    background-color: #45b500;
    color:white;
}

.pdt {
    display: flex;
    flex-wrap: wrap;
}

ul.pdt li {
    max-width: 15em;
}

.pdt-item{
    border-radius: 5px;
}

.pdt-item:hover {
    box-shadow: 0 0 1rem 1rem rgba(0, 0, 0, 0.15) !important;
    z-index: 99;
}

.pdt_img img {
    width: 100%;
    height: auto;
}

.pdt_price {
    color: #f56b0f;
    font-size: 1.4em;
}

.add-cart a:hover {
    background-color: #45b500; !important;
}

.pdt_title a {
    font-size: 1.1em;
}

/*.bg-gray {*/
/*    background-color: #e3e3e3; !important;*/
/*}*/

/*.bg-gray:hover {*/
/*    background-color: #73c473; !important;*/
/*}*/

/*.bg-gray a {*/
/*    color: black;*/
/*}*/

/*.bg-gray:hover a {*/
/*    color: white;*/
/*    text-decoration: none;*/
/*}*/

.bg-green {
    background-color: #73c473; !important;
}

.bg-green a {
    color: white; !important;
}

.bg-green:hover a{
    color: black; !important;
}

.opacitys {
    opacity: 0.5;
    transition-duration: 0.3s;
}

.opacitys:hover {
    opacity: 1;
}

.pstyle p, .pstyle li {
    font-size: 1.2rem;
    text-align: center;
}

.hover_shadow:hover {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15);
}

.hover_scale {
    transition: 0.3s;
}

.hover_scale:hover {
    transform: scale(1.3);
}

.hover_round {
    transition: 0.3s;
    border-radius: 50%;
    opacity: 0.8;
}

.hover_round:hover {
    border-radius: 0;
    opacity: 1;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15);
    z-index: 999;
    position: absolute;
}

.translateR:hover {
    transform: scale(1.3) translateX(200px);
}

.translateL:hover {
    transform: scale(1.3) translateX(-200px);
}

@media (max-width: 1200px) {
    .translateR:hover {
        transform: scale(1.2);
    }

    .translateL:hover {
        transform: scale(1.2);
    }
}

.text-indent {
    padding-left: 2em;
}

.about_article h3 {
    margin-bottom: 2em;
}

.about_article p {
    font-size: 1.2em;
}

.about_article li {
    border: 1px green solid;
    border-radius: 1em;
    padding: 5em 2em;
    margin: 2em 0;
}


